/* PRIMARY COLORS */
$white: #ffffff
$light-blue: #61dafb
$orange: #f3a847
$gold: #d49828
$red: #d2042d
$blue: #2864d4

/* BACKGROUND COLORS */
$blue-gray: #282c34

/* IMAGE FOLDER PATH */
$portfolioImagePath: "../images/portfolioImages"

/* FADE IMAGE */
$fadeImage: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),

